INSERT INTO ScriptDB([ScriptName], [SwVersione], [DataInserimento], [Note])
VALUES('5 -ImportedOrder-Create Table.sql', 'xx', CURRENT_TIMESTAMP, '')
go




if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[ImportedOrder]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[ImportedOrder]
GO

CREATE TABLE [dbo].[ImportedOrder] (
	[NomeComputer] [varchar] (20) COLLATE Latin1_General_CI_AS NOT NULL ,
	[Id_Sagra] [char] (5) COLLATE Latin1_General_CI_AS NOT NULL ,
	[IdOrdine] [int] NOT NULL ,
	[NewIdOrdine] [int] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ImportedOrder] WITH NOCHECK ADD 
	CONSTRAINT [PK_ImportedOrder] PRIMARY KEY  CLUSTERED 
	(
		[NomeComputer],
		[Id_Sagra],
		[IdOrdine]
	)  ON [PRIMARY] 
GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[ImportedOrder]  TO [public]
GO

ALTER TABLE [dbo].[ImportedOrder] ADD 
	CONSTRAINT [FK_ImportedOrder_Ordini] FOREIGN KEY 
	(
		[Id_Sagra],
		[NewIdOrdine]
	) REFERENCES [dbo].[Ordini] (
		[Id_Sagra],
		[IDOrdine]
	) ON DELETE CASCADE  NOT FOR REPLICATION 
GO

